ol{
    background-color: yellow;
}

ol li.par{
    background-color: green;
}

ol li.impar{
    text-transform: uppercase;
}

h1, h2, h3{
    color: red;
}

h1 em {
    font-size: 40px;
    border: 1px solid black;
}

li{
    font-size: 20px;
}

li em{
   font-weight: 150;
}

.lifirst3{
    color: blue;
}

.java{
    background-color: pink;
}

li a:hover{
    font-weight: bold;
}

#StackOverflow:hover{
    color: orange;
}

#W3Schools:hover{
    color: green;
}

#MDN:hover{
    color: black;
}

#DevDocs:hover{
    color: yellow;
}

#Trybe:hover{
    color: green;
}